@page "/crearEvento"
@rendermode InteractiveServer
@inject ISesionUsuario sesion
@inject ListarUsuariosUseCase listarUsuarios
@inject CrearEventoDeportivoUseCase crearEvento


@if (sesion.UsuarioId is null)
{
    <p>No estás logueado.</p>
}

<div class="contenedor">

    @if (!string.IsNullOrEmpty(mensaje))
    {
        <div class="@claseMensaje">@mensaje</div>
    }

    <div class="mb-3">
        <label>Nombre:</label>
        <input @bind="evento.Nombre" class="form-control mb-2">
    </div>

    <div class="mb-3">
        <label>Descripcion</label>
        <input @bind="evento.Descripcion" class="form-control mb-2" />
    </div>

    <div class="mb-3">
        <label>Cupo Maximo</label>
        <input  @bind="evento.CupoMaximo" class="form-control mb-2"/>
    </div>

    <div class="mb-3">
        <label>Responsable:</label>
        <select  @bind="idResponsableSeleccionado" class="form-control mb-2" >
            <option disabled selected value="">Seleccione un responsable</option>
            @foreach (var usuario in usuarios)
            {
                <option value="@usuario.Id">@usuario.Nombre @usuario.Apellido</option>
            }
        </select>

    </div>

    <div class="mb-3">
        <label>Fecha y hora de inicio:</label>
        <input type="datetime-local" @bind="fechaYHoraInicio" class="form-control mb-2" />
    </div>


    <div class="mb-3">
        <label>Horas duracion:</label>
        <input @bind="evento.DuracionHoras" class="form-control mb-2"/>
    </div>
    
    <div class="d-flex justify-content-center mb-3">
        <button class="btn btn-primary" @onclick="Crear">Registrar evento</button>
    </div>
</div>

@code {
    private EventoDeportivo evento = new EventoDeportivo();
    private List<Usuario> usuarios = new();
    private int idResponsableSeleccionado;
    private DateTime fechaYHoraInicio = DateTime.Now;
    private string mensaje = "";
    private string claseMensaje = "";

    private int idSesion;
    void Crear()
    {
        try
        {

            var nuevoEvento = new EventoDeportivo
            {
                Nombre = evento.Nombre,
                Descripcion = evento.Descripcion,
                CupoMaximo = evento.CupoMaximo,
                DuracionHoras = evento.DuracionHoras,
                ResponsableId = idResponsableSeleccionado,
                FechaHoraInicio = fechaYHoraInicio
            };

            crearEvento.Ejecutar(nuevoEvento, idSesion);
            mensaje = "Evento creado con éxito.";
            claseMensaje = "alert alert-success";
            evento = new EventoDeportivo();
        }
        catch (Exception ex)
        {
            mensaje = $"Error: {ex.Message}";
            claseMensaje = "alert alert-danger";
        }
    }
    protected override void OnInitialized()
    {
        idSesion = sesion.UsuarioId.Value!;

        usuarios = listarUsuarios.Ejecutar(idSesion)!.ToList();
    }
}