@page "/perfilUsuario"
@rendermode InteractiveServer
@inject ObtenerUsuarioUseCase obtenerUsuario
@inject ISesionUsuario sesion

@if (sesion.UsuarioId == null)
{
    <p>No estás logueado.</p>
}

<h3>Perfil Usuario</h3>

@if ( _usuario is null)
{
    <p class="text-danger">Error al cargar el perfil.</p>
}else
{
    <div class="container mt-5">
    
    <dl class="row">
        <dt class="col-sm-3">Nombre:</dt>
        <dd class="col-sm-9">@_usuario.Nombre</dd>

        <dt class="col-sm-3">Apellido:</dt>
        <dd class="col-sm-9">@_usuario.Apellido</dd>

        <dt class="col-sm-3">DNI:</dt>
        <dd class="col-sm-9">@_usuario.DNI</dd>

        <dt class="col-sm-3">Email:</dt>
        <dd class="col-sm-9">@_usuario.Email</dd>

        <dt class="col-sm-3">Telefono</dt>
        <dd class="col-sm-9">@_usuario.Telefono</dd>
        </dl>
    </div>
}

@code{
    private Usuario? _usuario;
    private string msj = "";
    
    protected override void OnInitialized()
    {
        if (sesion.UsuarioId != null)
        {
            _usuario = obtenerUsuario.Ejecutar(sesion.UsuarioId.Value,sesion.UsuarioId.Value);
            if (_usuario==null)
            {
                msj = "No se encontró el usuario.";
            }
        }
        else
        {
            msj = "No estás logueado.";
        }
    }
}