@page "/perfilUsuario"
@rendermode InteractiveServer
@inject ISesionUsuario sesion
@inject ObtenerUsuarioUseCase obtenerUsuario
@inject ObtenerEventoUseCase obtenerEventos
@inject UsuarioReservaPendientesUseCase usuarioReservaPendientes
@inject UsuarioReservasActivasUseCase usuarioReservasActivas
@inject CambiarContrasenaUseCase cambiarContraseniaUseCase
@inject ActualizarUsuarioUseCase actualizarUsuarioUseCase

@if(!string.IsNullOrEmpty(mensajeGlobal))
{
    <div class="alert alert-danger">@mensajeGlobal</div>
}

@if (sesion.UsuarioId == null)
{
    <p>No estás logueado.</p>
}
else
{ 

    <DialogoEditarUsuario @ref="dialogoEditar" OnConfirmado="Refrescar" />
    <DialogoCambiarContrasena @ref="dialogoCambioContrasena" OnConfirmado="Refrescar" />

<div class="contenedor">    

    <h3>Perfil de Usuario</h3>

    <div class="container mt-5r"> 
        <dl class="row">
            <dt class="col-sm-3">Nombre:</dt>
            <dd class="col-sm-9">@_usuario?.Nombre</dd>

            <dt class="col-sm-3">Apellido:</dt>
            <dd class="col-sm-9">@_usuario?.Apellido</dd>

            <dt class="col-sm-3">DNI:</dt>
            <dd class="col-sm-9">@_usuario?.DNI</dd>

            <dt class="col-sm-3">Email:</dt>
            <dd class="col-sm-9">@_usuario?.Email</dd>

            <dt class="col-sm-3">Telefono:</dt>
            <dd class="col-sm-9">@(_usuario?.Telefono??"")</dd>
        </dl>
    </div>

    <div class="d-flex justify-content-center mb-3">
        <button class="btn btn-primary me-2" @onclick="Editar">Editar</button>
        <button class="btn btn-secondary" @onclick="CambiarContrasena">Cambiar Contraseña</button>
    </div>

    <hr>

    <h4>Reservas a eventos deportivos</h4>
    @if(!string.IsNullOrEmpty(msjReservas))
    {
        <div class="alert alert-info">@msjReservas</div>
    }
    else
    {
    <table class="table">
        <thead>
            <tr>
                <th>Evento Deportivo</th>
                <th>Fecha y horario</th>
                <th>Cantidad de horas</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var r in _listaReservas){
                <tr> 
                    <td>@r.Nombre</td>
                    <td>@r.FechaHoraInicio.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@r.DuracionHoras horas</td>
                </tr>
            }
        </tbody>
    </table>
    }

    <hr>

    <h4>Solicitudes a eventos deportivos</h4>
    @if(!string.IsNullOrEmpty(msjSolicitudes))
    {
        <div class="alert alert-info">@msjSolicitudes</div>
    }
    else
    { 
        <table class="table">
            <thead>
                <tr>
                    <th>Evento Deportivo</th>
                    <th>Fecha y horario</th>
                    <th>Cantidad de horas</th>
                </tr>
            </thead>

            <tbody>
                @foreach(var s in _listaSolicitudes){
                    <tr> 
                        <td>@s.Nombre</td>
                        <td>@s.FechaHoraInicio.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@s.DuracionHoras horas</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

}


@code{
    DialogoEditarUsuario dialogoEditar = null!;
    DialogoCambiarContrasena dialogoCambioContrasena = null!;
    private int _idUsuario;
    private Usuario? _usuario;
    private List<EventoDeportivo> _listaReservas = new List<EventoDeportivo>();
    private List<EventoDeportivo> _listaSolicitudes = new List<EventoDeportivo>();
    private String msjSolicitudes = "";
    private String msjReservas = "";
    private String mensajeGlobal = "";


    protected override void OnInitialized()
    {  
        try{
            if (sesion.UsuarioId != null)
            {
                _idUsuario = sesion.UsuarioId.Value;
                _usuario = obtenerUsuario.Ejecutar(_idUsuario,_idUsuario)!;
                ListaReservas();
                ListaSolicitudes();
            }
        }catch (Exception ex)
        {
            mensajeGlobal = $"Error al cargar el perfil: {ex.Message}";
        }
    }
    
    void ListaReservas()
    {
        try{
            var reservas = usuarioReservasActivas.Ejecutar(_idUsuario,_idUsuario);
            if (reservas != null && reservas.Count > 0)
            {
                foreach (var r in reservas)
                {
                    var evento = obtenerEventos.Ejecutar(r.EventoDeportivoId, _idUsuario);
                    if (evento != null)
                    {
                        _listaReservas.Add(evento);
                    }
                }
            }
            else
            {
                msjReservas = "No tienes reservas activas.";
            }
        }catch (Exception ex)
        {
            mensajeGlobal = $"Error: {ex.Message}";
        }
    }

    void ListaSolicitudes(){
        try{
            var solicitudes = usuarioReservaPendientes.Ejecutar(_idUsuario,_idUsuario);
            if (solicitudes != null && solicitudes.Count > 0)
            {
                foreach (var s in solicitudes)
                {
                    var evento = obtenerEventos.Ejecutar(s.EventoDeportivoId, _idUsuario);
                    if (evento != null)
                    {
                        _listaSolicitudes.Add(evento);
                    }
                }
            }
            else
            {
               msjSolicitudes = "No tienes solicitudes pendientes.";
            }
        }catch (Exception ex)
        {
            mensajeGlobal = $"Error: {ex.Message}";
        }
    }

    void Editar(){
        try{
            dialogoEditar.Mostrar(_idUsuario);
        }catch (Exception ex)
        {
            mensajeGlobal = $"Error al editar el usuario: {ex.Message}";
        }
    }

    void CambiarContrasena()
    {
        try
        {
            dialogoCambioContrasena.Mostrar(_idUsuario);
        }
        catch (Exception ex)
        {
            mensajeGlobal = $"Error al cambiar la contraseña: {ex.Message}";
        }
    }
    
    void Refrescar(){
        StateHasChanged();
    }
}